.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  padding-bottom: 3em;
}

.App-header {
  background-color: #01185b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #01185b;
  text-decoration: none;
  border: 15px solid #5ddc9b;
  background-color: white;
  border-radius: 999px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.fade {
  animation-duration: 1s;
  animation-name: fade;
  animation-iteration-count: 1;
}

.fadeIn {
  animation-duration: 1s;
  animation-name: fade;
  animation-iteration-count: 1;
  animation: reverse;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
